<footer class="text-center py-2">
  <div class="footer d-flex align-items-center justify-content-center flex-wrap">
    <p class="col-sm-6 mb-0 text-end px-2"><span>Contact Number:</span> 0702250273</p>
    <p class="col-sm-6 mb-0 text-start px-2"><span>Email:</span> billkihungu51@gmail.com</p>
  </div>
</footer>